In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('dados/Credito.csv', sep = ';', encoding = 'cp860')

In [6]:
df.head()

,CHEQUEESPECIAL,USO_CREDITO,HISTORICO_CREDITO,PROPOSITO,BALANCO_ATUAL,BALANCO_MEDIO_CREDITO,EMPREGADO,LOCAL,ESTADOCIVIL,OUTRASFUNCOES,RESIDENCIADESDE,TIPOSBENS,IDADE,OUTROSPLANOSPGTO,RESIDENCIA,CREDITOSEXISTENTES,EMPREGO,DEPENDENTES,TRABAESTRANGEIRO,CLASSE
0,<0,6,crφtica / outros de crΘdito existente,Computador/TV,1169,nenhuma economia conhecida,>=7,4,masculino solteiro,nenhum,4,bens im≤veis,67,nenhum,pr≤pria,2,especializado,1,sim,bom
1,0<=X<200,48,existente e pago,Computador/TV,5951,<100,1<=X<4,2,fem div/cas,nenhum,2,bens im≤veis,22,nenhum,pr≤pria,1,especializado,1,sim,ruim
2,sem cheque,12,crφtica / outros de crΘdito existente,educaτπo,2096,<100,4<=X<7,2,masculino solteiro,nenhum,3,bens im≤veis,49,nenhum,pr≤pria,1,nπo especializado,2,sim,bom
3,<0,42,existente e pago,mobilia/equipamento,7882,<100,4<=X<7,2,masculino solteiro,fiador,4,seguro de vida,45,nenhum,gratuitamente,1,especializado,2,sim,bom
4,<0,24,atrasos anteriores,carro novo,4870,<100,1<=X<4,3,masculino solteiro,nenhum,4,nenhuma conhecida,53,nenhum,gratuitamente,2,especializado,2,sim,ruim

In [7]:
df.shape

(1000, 20)

In [11]:
a_trocar = {
    'ruim': 0,
    'bom':1,
}
df.CLASSE = df.CLASSE.map(a_trocar)
agrupado = df.groupby(['CLASSE'])['count'].sum()

KeyError: 'Column not found: count'

In [ ]:
agrupado.plot.bar(color = 'gray')

agrupado.plot.pie(legend = True)